/* HTML */
html body {
    /* background-color: black; */
}

main {
    margin-top: 2%;
}

.form-control {
    border-radius: 0%;
}

.btn {
    border-radius: 0%;
}

/* NAVBAR */
.divisao-navbar {
    padding: 0;
    margin: 0;
    width: none;
    text-align: center;
    align-items: center;
    align-content: center;

    & .container {
        padding: 0;
        margin: 0;
        width: none;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    & .row {
        padding: 0;
        margin: 0;
        width: none;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}

/* SEÇÃO PESQUISA */
.pesquisa {
    background-color: grey;
    width: 100%;
    /* Ajuste para que a largura ocupe 100% do espaço disponível */
    max-width: 1314px;
    /* Defina um valor máximo para a largura */
    margin-left: auto;
    margin-right: auto;

    & .border {
        margin: 2% 0;
    }

    & .line .border {
        margin: 0;
    }

    & .line {
        padding: 0;
    }

    & .container {
        border: 3px solid green;
        height: auto;
    }
}

.pesquisa .input-group .btn {
    width: fit-content;
}

.col-12 {
    & .container-md {
        width: max-content;
    }

    & .navbar {
        width: none;
        height: 80%;
    }
}

/* BUSCA AVANCADA FORMS */
.busca-avancada-forms {
    margin-top: 2%;
}

.col-12 {
    & .btn {
        width: 100%;
    }
}

.col-12 {
    & .valores {
        width: 50%;
    }

}

.col-12 {
    padding-top: 1%;
}

/* LINHA PARTE INFERIROR */
.form-control {
    align-items: start;
    align-content: center;
    text-align: center;
}

/* BOTAO PESQUISA */
.botao-pesquisa {
    /* min-width: 510px;
    max-width: 510px; */
    padding-top: 2%;
}

/* CASAS */
.casas {
    border: 10px solid white;
    width: 100%;
    /* Ajuste para que a largura ocupe 100% do espaço disponível */
    max-width: 1314px;
    /* Defina um valor máximo para a largura */
}

            /* CUSTOMIZACAO PARA ALINHAMENTO CASAS */
.casas{
    background-color: grey  ;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
}
.casas{
    & .texto-cima-cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & .lancamentos h3{
        margin: 12px 0 5px;
    }
    & .ver-todos{
        text-align: end;
    }
}
.ver-todos .btn{
    width: fit-content;
    padding: 0;
    margin: 0;
}
        /* CUSTOMIZACAO CARDS E IMAGENS  */
.casas{
    & .card-big{
        width: fit;
    }
    & .card-imgtxt{
        height: fit-content;
    }
    & .cards-pqn-linha{
        margin-top: 2%;
        /* width: 325px;
        height: fit-content; */
    }
    & .imagem-card-pqn{
        padding: 0px;
        width: 288px;
        height: 225,19px;
        max-width: 288px;
        max-height: 225,19px;
    }
    & .card-pequeno{
        border-radius: 0%;
        
    }

    & .card-info-maior{
        
    }
}
/* SOMBRA QUANDO PASSA O MOUSE EM CIMA DAS CASAS E DO CARD */
.card-pequeno:hover{
    filter: drop-shadow(0px 0px 12px grey);
}
.imagem-card-pqn:hover{
    filter: drop-shadow(0px 0px 12px grey);
}



@media (max-width: 577px) {
    .pesquisa {
        width: 100%;
        padding: 0 10px;
    }

    .pesquisa .container {
        border: none;
    }

    .pesquisa .input-group .btn {
        width: 20%;
    }

    .busca-avancada-forms {
        margin-top: 10px;
    }

    .col-12 .valores {
        width: 100%;
        margin-bottom: 10px;
    }

    .col-12 .btn {
        width: 100%;
    }

    .botao-pesquisa {
        width: 100%;
    }
}

@media (min-width: 578px) and (max-width: 768px) {
    .pesquisa {
        width: 100%;
        padding: 0 10px;
    }

    .pesquisa .input-group .btn {
        width: 20%;
    }

    .row .valores {
        margin-left: 10px;
        width: 47%;
    }

    .botao-pesquisa {
        width: 100%;
    }
}