/* HTML */
html body {
    background-color: black;
}

/* NAVBAR */
.divsao-navbar {
    width: max-content;
    height: auto;
}

.divisao-navbar {
    padding: 0;
    margin: 0;
    width: none;
    ;
    text-align: center;
    align-items: center;
    align-content: center;

    & .container {
        padding: 0;
        margin: 0;
        width: none;
        ;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    & .row {
        padding: 0;
        margin: 0;
        width: none;
        ;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}

/* SEÇÃO PESQUISA */
.pesquisa {
    background-color: grey;

    & .border{
        margin: 2% 0;
    }
    & .line .border{
        margin: 0;
    }
    & .line{
        padding: 0;
    }

    & .container {
        border: 3px solid green;
        height: auto;
    }

}
.col-12{
    & .container-md{
        width: max-content;
    }
    & .navbar{
        width: none;
        height: 80%;
    }
}

/* BUSCA AVANCADA FORMS */
.busca-avancada-forms{
    margin-top: 5%;
}
.col-12{
    & .btn{
        width: 100%;
    }
}
.col-12{
    & .valores{
        width: 50%;
    }

}